[submodule "vendor/sfml"]
	path = vendor/sfml
	url = https://github.com/SFML/SFML
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt
[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
